<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
    </style>
</head>
<body>
    <div class="centered-card">
        <div class="profile-image">
            <img src="./images/image1.jpg" alt="Profile Picture">
        </div>
        <div class="about-content">
            <h1>About Me</h1>
            <p>
                Hey there! I'm a software engineer who loves building smart solutions in Identity and Access Management (IAM). 
                I’ve worked on migrating WebSEAL apps to Ping, automating IAM workflows, and setting up seamless CI/CD pipelines 
                with Jenkins and GitHub Actions. I geek out on Python, Java, AI/ML, and cracking tough DSA problems.     
                If it's about solving complex challenges and making life easier with automation, count me in!
            </p>
        </div>
    </div>
</body>
</html>
