<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Contact</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
    </style>
</head>

<body>
    <div class="header">
        <h1 class="neon-text">Samrat Lahiri</h1>
        <p class="tagline">I'd love to hear from you!</p>
    </div>

    <!-- Contact Information Section -->
    <div class="centered-card">
        <h2>Contact Me</h2>
        <p><strong>Email:</strong> lahirisamrat59@gmail.com</p>
        <p><strong>Phone:</strong> +91-8250334615</p>
        <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/samrat-lahiri-4160bb180"
                style="color: white;">www.linkedin.com/in/samrat-lahiri-4160bb180</a>
        </p>
        <p><strong>GitHub:</strong> <a href="https://github.com/samrat369"
                style="color: white;">https://github.com/samrat369</a></p>
    </div>

    <a href="/" class="back-button">Back to Home</a>

    <footer>
        <p>© 2025 Samrat Lahiri</p>
    </footer>
</body>

</html>