<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
    </style>
</head>

<body>
    <div class="header">
        <h1 class="neon-text">Samrat Lahiri</h1>
        <p class="tagline">Cybersecurity-IAM Developer | Software Developer | Problem Solver</p>
    </div>

    <!-- Section Cards -->
    <div class="card-container">
        <div class="card">
            <a href="/projects" class="card-link">
                <h2>Projects</h2>
            </a>
        </div>
        <div class="card">
            <a href="/skills" class="card-link">
                <h2>Skills</h2>
            </a>
        </div>
        <div class="card">
            <a href="/experience" class="card-link">
                <h2>Experience</h2>
            </a>
        </div>
        <div class="card">
            <a href="/contact" class="card-link">
                <h2>Contact</h2>
            </a>
        </div>
    </div>
    <footer class="text-center">
        <p>© 2025 Samrat Lahiri. All rights reserved.</p>
    </footer>

    <script src="/js/script.js"></script>
</body>

</html>
